/*bootstrap font override*/
h1, h2, h3, h4, h5, h6 {
    'font-family: 'Poppins', sans-serif;'
}
p, div {
    font-family: 'Poppins', sans-serif;
}

header .glyphicon {
    font-size: 30px;
    color: red;
    position: relative;
    bottom: 1px;
    width: 100%;
    text-align: center;
    opacity: 1;

}
#phuckit {

    position: absolute;
    top: 110%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: ;
}

/*VIDEO - HEADER?*/

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .fullscreen-bg {
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -300;
    position: fixed !important;
    background-size: cover;
    background-attachment: fixed;
}

.fullscreen-bg video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh ;
    margin-bottom: 50px;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

.hpblock {
    text-align: 75%;
    position: relative;
    top: 60%;
    width: 20%;
    z-index: 19;
}

.hpblock h2{
  color:#fff;
}

/*MISSION*/

.fa {
  color: black;
  margin-right: 32px;
}

.mission {
  margin-bottom: 50px;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 25px;
}

/*Code for Responsive Menu*/

<style>
.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}


.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

/*MENU*/

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}


.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {


    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}

/*CAROUSEL - PROJECTS*/

.carousel {
  background: white;
  height: 720px;
}

.carousel-control.right, .carousel-control.left {
    background: gray;
    background-image: none !important;
    color: red;
}
.carousel-control.right:hover {
    background: gray;
    color: red;
}
.carousel-control.left:hover {
    background: black;
    color: red;
}
.carousel-indicators li {
    border-color: white !important;
    margin-bottom: 50px;
}

.carousel-indicators li.active {
    background-color: red;
}


.item h4 {
    color: black;
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.item img {
  position: relative;
  width: 100%;
  height: 720px;
  /*background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  margin:0;
  text-align:center;
  padding-left:0;*/
}


/* PARALAX */

.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 100%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {background-image:url('../img/bcgslide-4.jpg')}

.bcg{
  data-center = background-position: 50% 0px;
  2data-bottom-top = background-position: 50% 50px;
  data-top-bottom = background-position: 50% -50px;
  data-anchor-target = #slide-4;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
  .hsContent h2,
  .copy h2 {
    color: #ffffff;
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 12px;
  }
  .hsContent p {
    width: 400px;
    margin: 0 auto;
    color: #b2b2b2;
  }
  .hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
  }
  .bgBlack {
    background-color: rgba(0,0,0,0.75);
    padding: 3px 10px;
  }
 #team {
   color: white;
   font-size: 35px;

 }
/*.content {
    margin-top: 20px;
}*/


/*Responsive menu code*/

.custom-menu-wrapper {
    background-color: black;
    margin-bottom: 0em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}
/*Footer Css*/
div.footer {
  margin-top:-52px;
}

.container-fluid {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}


/*This is the code for location slide*/

.features-list{
           padding:70px 0;
           background-color: white;
           color: #25373C;
          /*background-image:url(http://i.imgur.com/uff9Yzd.jpg);*/
          background-image: url(http://i.imgur.com/zrYifZv.jpg);
           min-height: 100vh;
           text-align: center;
           margin-top: -53px;
       }

       .features-list h2{
           font-size: 42px;
           /*margin-bottom: 80px;*/
           font-weight: normal;
           color: white;
       }

       .features-list div{
           display: inline-block;
           width: 30%;
           margin: 5px;
           /*border: 1px solid #ccc;*/
           /*padding: 45px;*/
           /*box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;*/
       }

       .features-list div img{
          margin-bottom: 40px;
           /*color: #50B575;*/
           max-width:100%;
            max-height:100%;
       }

       .features-list div h4{
           font-size: 18px;
           text-transform: uppercase;
           color: white;
           font-weight: normal;
       }
       @media (max-width: 900px){

           .features-list div{
               width: 90%;
               margin-bottom: 30px;
           }

       }
/*Gallery Scroll CSS*/

.gallery{
          background-color:white;

          background-repeat: no-repeat;
           color: #221f51;
           font: normal 24px sans-serif;
           min-height: 300vh;
           text-align: center;
           overflow: hidden;
       }

       .scroll-pause{
           position: fixed;
           top: 0;
           left: 0;
           width: 80vw;
           height: 80vh;
           padding-top: 25vh;
       }


       .scroll-pause .row{
           width: 200vw;
           height: 45vh;
           overflow: hidden;
       }

       .scroll-pause .row div{
           width: 11.5%;
           height: 90%;
           float: left;
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           margin: 0.5%;
           border-radius: 10px;
       }

       .scroll-pause .row div:first-child{
           margin-left: 0.4%;
       }

       .scroll-pause .row div:last-child{
           margin-right: 0.4%;
       }

/*Contact US */

.about-us{
            padding: 150px 0;
            background-color: #fff;
            min-height: 120vh;
            text-align: center;
            color: #25373C;
            font-size: 18px;
        }

        .about-us h2{
            font-size: 42px;
            margin-bottom: 80px;
            font-weight: normal;
        }

        .about-us div{
            text-align: center;
            width: 25%;
            margin: 30px 10px;
            display: inline-block;
        }


        .about-us div img{
            border-radius: 50%;
            width: 60%;
        }

        .about-us a.attribution{
            display: block;
            font-size: 13px;
            text-decoration: none;
            color: inherit;
            width: 280px;
            margin: 50px auto 10px;
            opacity: 0.5;
        }


        @media (max-width: 800px){

            .about-us div{
                width: 45%;
                margin: 20px 0;
            }

        }

/* Preloader */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url('../video/44.gif'); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*Video*/
video {
  position: relative;
  width: 100%;
  height: 80%;
  padding-bottom: 10%;
  z-index: -1;
}

/*Body Text*/
.body-text{
          padding: 50px 0;
          background-color: #fff;
          color: #25373C;
          font-size: 18px;
          min-height: 50vh;
          text-align: center;
      }

      .body-text h2{
          font-size: 42px;
          font-weight: normal;
          margin-bottom: 80px;
      }

      .body-text p{
          width: 88%;
          display: inline-block;
          text-align: center;
          padding: 10px;
          color: #45636B;
      }


      @media (max-width: 900px){

          .body-text p{
              width: 100%;
          }

      }
