/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 100%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {background-image:url('../img/bcgslide-4.jpg')}

.bcg{
  data-center = background-position: 50% 0px; 
  2data-bottom-top = background-position: 50% 100px;
  data-top-bottom = background-position: 50% -100px;
  data-anchor-target = #slide-4;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
  .hsContent h2,
  .copy h2 {
    color: #ffffff;
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 12px;
  }
  .hsContent p {
    width: 400px;
    margin: 0 auto;
    color: #b2b2b2;
  }
  .hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
  }
  .bgBlack {
    background-color: rgba(0,0,0,0.75);
    padding: 3px 10px;
  }




/*video*/



  .fullscreen-bg {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: -300;
}

.fullscreen-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: ;
    min-height: 100vh ;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

.hpblock {
    text-align: 75%;
    position: relative;
    top: 60%;
    width: 20%;
    z-index: 19;
}

.hpblock h2{
  color:#fff;
}

















